.nav-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.mayo-logo {
 margin-right: 5px;
}

i.fas.fa-sign-out-alt {
    margin-left: 5px;
    font-size: 16px;
    color: white;
}

nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
    background-color: #3c624b!important;

}

