.container {
    padding: 0px;
}

table {
    width: 100%;
  }

.cdk-row:hover {
    background: #e6e6e6;
}

.cdk-column-edit > button {
    margin-right: 10px;
}

.cdk-header-cell {
    font-size: 0.9em;
    color: black;

}
